name: docs
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**/*'
      - 'src/**/*'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Get current week for cache key
        id: cache-key
        run: echo "week=$(date --utc '+%V')" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ steps.cache-key.outputs.week }}
          path: .cache 
          restore-keys: |
            mkdocs-material-
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Install Dependencies
        run: uv sync --group docs
      - name: Build & Deploy Docs
        run: uv run mkdocs gh-deploy --force
